.box {
    background-color: #1d2021;
    border: #EEE0b7 solid 1px;
    border-radius: 25px;
    min-width: 40%;
    max-width: 100%;
    margin: 1%;
    padding: 1%;
    color: #EEE0b7;
    display: inline-block;
}
    .box.consolidado {
        /* margin: 2px; */
        font-size: 14px;
        vertical-align: top;
    }
        .box.consolidado > div{
            /* display: inline-block; */
            max-width: 50%;
        }

        .box.consolidado > .valor-total {
            min-width: 100%;
            /* height: 50px; */
        }

        .box.consolidado > .valor-total > h2 {
            font-size: 36px;
            margin: 0 0;
        }

        .box.consolidado h3 {
            font-size: 28px;
            margin: 0 0;
        }


