.box {
    background-color: #1d2021;
    border: #EEE0b7 solid 1px;
    border-radius: 25px;
    min-width: 50%;
    max-width: 100%;
    margin: 1%;
    padding: 1%;
    color: #EEE0b7;
}
    .box.consolidado {
        margin: 2px;
        font-size: 14px;
    }
        .box.consolidado > div{
            flex: 1 1 200px;
            max-width: 50%;   
        }

        .box.consolidado > .valor-total {
            min-width: 100%;
            height: 50px;
        }

        .box.consolidado > .valor-total > h2 {
            font-size: 36px;
            margin: 0 0;
        }

        .box.consolidado h3 {
            font-size: 28px;
            margin: 0 0;
        }
    

    