<div class="container">
    <div class="box">
        <grafico-patrimonio  title="Posições Renda Variável" [series]="RVseries" [labels]="RVlabels"></grafico-patrimonio>
    </div>
    <div class="de">
        <div class="box consolidado">
            <div class="valor-total">
                <span>valor da carteira:</span>
                <h2>{{consolidado.valorTotal}}</h2>
            </div>
            <div class="flex flex-dc flex-sp">
                <div>
                    <span>lucro R$:</span>
                    <h3>{{consolidado.lucroValor}}</h3>
                </div>
                <div>
                    <span>lucro:</span>
                    <h3>{{consolidado.lucroPerc}}%</h3>
                </div>
            </div>
        </div>
        <div class="box">
            <grafico-patrimonio title="Tipos XXXX" [series]="RVTiposSeries" [labels]="RVTiposLabels" chart-width="250"></grafico-patrimonio>
            <grafico-patrimonio title="Tipos XXXX" [series]="AcoesTiposSeries" [labels]="AcoesTiposLabels" chart-width="250"></grafico-patrimonio>
            <grafico-patrimonio title="Tipos XXXX" [series]="FIIsTiposSeries" [labels]="FIIsTiposLabels" chart-width="250"></grafico-patrimonio>
        </div>

    </div>
</div>