<div class="container flex">
    <grafico-patrimonio [series]="series" [labels]="labels"></grafico-patrimonio>
    <div class="box consolidado flex flex-wp">
        <div class="valor-total">
            <span>valor da carteira:</span>
            <h2>{{consolidado.valorTotal}}</h2>
        </div>
        <div>
            <span>lucro R$:</span>
            <h3>{{consolidado.lucroValor}}</h3>
        </div>
        <div>
            <span>lucro %:</span>
            <h3>{{consolidado.lucroPerc}}</h3>
        </div>
    </div>
</div>